@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Roboto", sans-serif;
}

body{
    background:#f5f6fa;
    height:100vh;
    overflow:hidden;
}

.navbar{
    height:70px;
    background:#008081;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
}

.left{
    width:180px;
    display:flex;
    align-items:center;
}

#toggleSidebar{
    border:none;
    background:none;
    color:white;
    font-size:26px;
    cursor:pointer;
}

.search{
    flex:1;
    display:flex;
    justify-content:center;
}

.search form{
    width:100%;
    display:flex;
    justify-content:center;
}

.search input{
    width:550px;
    height:42px;
    border:none;
    outline:none;
    border-radius:999px;
    padding:0 18px;
    font-size:16px;
}

.right{
    width:180px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:20px;
}

.ai img{
    width:30px;
}

.user{
    text-decoration:none;
    color:white;
    font-weight:500;
}


.dashboard{
    display:flex;
    height:calc(100vh - 70px);
}

.sidebar{
    width:300px;
    background:white;
    border-right:1px solid #ddd;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    transition:.3s;
    overflow:hidden;
}

.sidebar.collapsed{
    width:70px;
}

.sidebar-content{
    overflow-y:auto;
}

.section{
    padding:20px;
}

.section h3{
    display:flex;
    align-items:center;
    gap:10px;
    color:#008081;
    margin-bottom:15px;
    font-size:18px;
}

.section ul{
    list-style:none;
}

.section li{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
    transition:.2s;
}

.section li:hover{
    background:#f0f8f8;
}

.section li i{
    color:#008081;
}

.sidebar.collapsed span{
    display:none;
}

.sidebar.collapsed h3{
    justify-content:center;
}

.sidebar.collapsed li{
    justify-content:center;
}

.storage{
    padding:20px;
    border-top:1px solid #ddd;
}

.storage h4{
    margin-bottom:10px;
}

.progress{
    width:100%;
    height:10px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:10px;
}

.progress-bar{
    height:100%;
    background:#008081;
    transition:.5s;
}

.storage p{
    font-size:14px;
    margin-bottom:5px;
}

.storage small{
    color:#666;
}

.sidebar.collapsed .storage h4,
.sidebar.collapsed .storage p,
.sidebar.collapsed .storage small{
    display:none;
}


.content{
    flex:1;
    padding:40px;
    overflow-y:auto;
}

.content h1{
    color:#333;
    margin-bottom:15px;
}

.content p{
    color:#666;
    font-size:18px;
}

.upload{
    position:fixed;
    bottom:30px;
    right:30px;
}

.upload form{
    display:flex;
    align-items:center;
    gap:12px;
}

.upload input[type="text"]{
    width:220px;
    height:42px;
    padding:0 15px;
    border:1px solid #ccc;
    border-radius:25px;
    outline:none;
    font-size:15px;
    background:white;
}

.upload input[type="text"]:focus{
    border-color:#008081;
}

.upload button{
    width:60px;
    height:60px;
    border-radius:50%;
    border:none;
    background:#008081;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.2s;
}

.upload button:hover{
    transform:scale(1.08);
}

.file-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:20px;
    margin-top:30px;
}

.file-card:hover{
    transform:translateY(-4px);
    box-shadow:0 5px 15px rgba(0,0,0,.12);
}

.file-card i{
    color:#008081;
    margin-bottom:15px;
}

.file-card p{
    word-break:break-word;
    font-size:15px;
}

.empty-folder{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#666;
}

.empty-folder i{
    color:#008081;
    margin-bottom:20px;
}

.file-link{
    text-decoration:none;
    color:inherit;
    display:block;
}

.user-menu{
    position:relative;
}

.user{
    border:none;
    background:none;
    color:white;
    cursor:pointer;
    font-size:16px;

    display:flex;
    align-items:center;
    gap:8px;
}

.dropdown{
    position:absolute;
    top:45px;
    right:0;

    width:230px;

    background:white;

    border-radius:10px;

    box-shadow:0 5px 20px rgba(0,0,0,.2);

    display:none;

    overflow:hidden;

    z-index:1000;
}

.dropdown.show{
    display:block;
}

.dropdown a{
    display:flex;
    align-items:center;
    gap:12px;

    padding:14px 18px;

    text-decoration:none;

    color:#333;

    transition:.2s;
}

.dropdown a:hover{
    background:#f5f5f5;
}

.dropdown hr{
    border:none;
    border-top:1px solid #ddd;
}

.logout{
    color:#d9534f !important;
}

.file-card{
    background:#fff;
    border:1px solid #ddd;
    border-radius:12px;
    padding:20px;
    text-align:center;
    cursor:pointer;
    display:block;
    text-decoration:none;
    color:inherit;
    transition:.2s;
    position:relative;
    border-radius:12px;
    padding:20px;
    text-align:center;
    transition:.2s;
}

.file-actions{
    position:absolute;
    top:10px;
    right:10px;
}

.menu-btn{
    background:none;
    border:none;
    cursor:pointer;
    font-size:20px;
    color:#666;
}

.menu-btn:hover{
    color:#008081;
}

.file-menu{
    display:none;

    position:absolute;
    top:30px;
    right:0;

    width:170px;

    background:white;

    border-radius:10px;

    box-shadow:0 5px 20px rgba(0,0,0,.2);

    overflow:hidden;

    z-index:100;
}

.file-menu.show{
    display:block;
}

.file-menu button{
    width:100%;
    padding:12px 16px;

    display:flex;
    align-items:center;
    gap:10px;

    border:none;
    background:white;

    cursor:pointer;

    font-size:15px;
}

.file-menu form{
    margin:0;
}

.file-menu button:hover{
    background:#f5f5f5;
}

.file-actions form{
    display:flex;
    margin:0;
}

.share-btn,
.delete-btn{
    width:30px;
    height:30px;

    display:flex;
    justify-content:center;
    align-items:center;

    border:none;
    background:transparent;

    cursor:pointer;
    font-size:18px;
    padding:0;
}

.share-btn{
    color:#008081;
}

.delete-btn{
    color:#d9534f;
}

.share-btn:hover{
    color:#006b6c;
}

.delete-btn:hover{
    color:#b52b27;
}
.ai-btn{
    background:none;
    border:none;
    cursor:pointer;
}

.ai-panel{

    position:fixed;

    top:0;
    right:-420px;

    width:420px;
    height:100vh;

    background:white;

    box-shadow:-5px 0 20px rgba(0,0,0,.2);

    transition:.3s;

    display:flex;
    flex-direction:column;

    z-index:5000;
}

.ai-panel.show{
    right:0;
}

.ai-header{

    height:70px;

    background:#008081;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 20px;
}

.ai-header button{

    background:none;
    border:none;

    color:white;

    font-size:24px;

    cursor:pointer;
}

.chat-messages{

    flex:1;

    padding:20px;

    overflow-y:auto;

    background:#f7f7f7;
}

.ai-message{

    display:inline-block;

    background:white;

    padding:12px 16px;

    border-radius:12px;

    margin-bottom:15px;

    max-width:80%;
}

.user-message{

    margin-left:auto;

    background:#008081;

    color:white;

    padding:12px 16px;

    border-radius:12px;

    margin-bottom:15px;

    max-width:80%;
}

.chat-input{

    display:flex;

    padding:15px;

    border-top:1px solid #ddd;
}

.chat-input input{

    flex:1;

    height:45px;

    border:1px solid #ccc;

    border-radius:25px;

    padding:0 15px;

    outline:none;
}

.chat-input button{

    width:4px;
    height:4px;

    margin-left:10px;

    border:none;

    border-radius:50%;

    background:#008081;

    color:white;

    cursor:pointer;
}