<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/pages.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
<nav class="navbar">
    <div class="left">
        <button id="toggleSidebar">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <div class="search">
        <form action="/dashboard" method="GET">
            <input
                type="search"
                name="search"
                placeholder="Search your files..."
                value="{{ search }}"
            >
        </form>
    </div>
    <div class="right">
        <a href="#" class="ai">
            <img src="/static/8236324-200.png" alt="AI">
        </a>
        <div class="user-menu">

            <button id="userButton" class="user">
                Hello {{ name }}
            </button>

            <div id="dropdown" class="dropdown">

                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    Change Name
                </a>

                <a href="#">
                    <i class="fa-solid fa-envelope"></i>
                    Change Email
                </a>

                <a href="#">
                    <i class="fa-solid fa-at"></i>
                    Change Username
                </a>

                <a href="#">
                    <i class="fa-solid fa-lock"></i>
                    Change Password
                </a>

                <hr>

                <a href="/logout" class="logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </a>

            </div>

        </div>
    </div>
</nav>


<div class="dashboard">
    <aside class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <div class="section">
                <h3>
                    <i class="fa-regular fa-clock"></i>
                    <span>Recent Files</span>
                </h3>
                <ul>
                    {% if recent_files %}
                        {% for file in recent_files %}
                        <li>
                            <i class="fa-regular fa-file"></i>
                            <span>{{ file }}</span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <i class="fa-regular fa-folder-open"></i>
                            <span>No recent files</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="section">
                <h3>
                    <i class="fa-solid fa-share-nodes"></i>
                    <span>Shared Documents</span>
                </h3>
                <ul>
                    {% if shared_files %}
                        {% for file in shared_files %}
                        <li>
                            <i class="fa-regular fa-file"></i>
                            <a href="/download-shared/{{ file }}">
                                {{ file }}
                            </a>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <i class="fa-regular fa-folder"></i>
                            <span>No shared files</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="storage">
            <h4>Storage</h4>
            <div class="progress">
                <div
                    class="progress-bar"style="width: {{ storage_percent }}%;">
                </div>
            </div>
            <p>
                {{ storage_used }} GB used of 150 GB
            </p>
            <small>
                {{ storage_remaining }} GB remaining
            </small>
        </div>
    </aside>
    <main class="content">

    <h1>My Files</h1>

    {% if user_files %}

    <div class="file-grid">

        {% for file in user_files %}

        <div class="file-card">

            <div class="file-actions">

                <button
                    class="share-btn"
                    onclick="shareFile('{{ file }}')">
                    <i class="fa-solid fa-share-nodes"></i>
                </button>

                <form
                    action="/delete/{{ file }}"
                    method="POST"
                    onsubmit="return confirm('Delete this file?');">

                    <button class="delete-btn">
                        <i class="fa-solid fa-trash"></i>
                    </button>

                </form>

            </div>

            <a href="/download/{{ file }}" class="file-link">
                <i class="fa-regular fa-file fa-3x"></i>
                <p>{{ file }}</p>
            </a>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="empty-folder">

        <i class="fa-regular fa-folder-open fa-5x"></i>

        <h2>Your drive is empty</h2>

        <p>Upload your first file.</p>

    </div>

    {% endif %}

</main>
</div>
<div class="upload">
    <form id="uploadForm"
          action="/upload-file"
          method="POST"
          enctype="multipart/form-data">

        <input
            type="file"
            id="fileInput"
            name="file"
            hidden
        >

        <button type="button" id="uploadBtn">
            <i class="fa-solid fa-upload"></i>
        </button>
    </form>
</div>


<script>
const sidebar = document.getElementById("sidebar");
const toggle = document.getElementById("toggleSidebar");
const uploadBtn = document.getElementById("uploadBtn");
const fileInput = document.getElementById("fileInput");
const userButton = document.getElementById("userButton");
const dropdown = document.getElementById("dropdown");

userButton.addEventListener("click", (e) => {
    e.stopPropagation();
    dropdown.classList.toggle("show");
});

document.addEventListener("click", () => {
    dropdown.classList.remove("show");
});

toggle.addEventListener("click", () => {
    sidebar.classList.toggle("collapsed");
});

uploadBtn.addEventListener("click", () => {
    fileInput.click();     // Opens the Windows file explorer
});

function shareFile(filename){

    const username = prompt("Share with which username?");

    if(!username)
        return;

    fetch("/share/" + encodeURIComponent(filename),{

        method:"POST",

        headers:{
            "Content-Type":"application/x-www-form-urlencoded"
        },

        body:"username=" + encodeURIComponent(username)

    }).then(()=>location.reload());

}

fileInput.addEventListener("change", () => {
    if (fileInput.files.length > 0) {
        document.getElementById("uploadForm").submit();
    }
});
</script>

</body>
</html>